<div class="column">
  <div class="card">
     <% if customer.image.present? %>
      <div class="card-image">
      <figure class="image is-128x128">
        <%= image_tag customer.image%>
      </figure>
      </div>
    <% end %>
    <div class="card-content">
      <p class="title mt-5">
          <%= customer.full_name %>
      </p>
      <p>Email: <%= customer.email %></p>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        Phone Number: <br><%= customer.phone_number %>
      </p>
      <p class="card-footer-item">
        Notes: <br><%= customer.notes %>
      </p>
    </footer>
  </div>
</div>